::-webkit-scrollbar { 
    display: none; 
}

body {
	background-color: #FAFAFA;
	color: #2c2d2d;
	font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	padding: 0; 	
}
